fastapi==0.111.0
uvicorn==0.30.1
langchain==0.2.6
langchain-community==0.2.6
chromadb==0.5.3
pypdf==4.2.0
python-multipart==0.0.9
pydantic==2.7.4
python-dotenv==1.0.1
langchain-groq==0.1.9
fastembed==0.3.6